[Unit]
Description=Idle manager for Wayland
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w timeout 600 'swaylock -f' timeout 601 'niri msg action power-off-monitors' before-sleep 'swaylock -f'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
